@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/typography';

:root {
	--dark-color-main-bg: #252526;
	--white-color-main-bg: #ffffff;
}

/* Custom scrollbar styling */
* {
    scrollbar-width: thin;
    scrollbar-color: #424242 transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar-custom::-webkit-scrollbar {
	width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
	background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: #424242;
	border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
	background-color: #4f4f4f;
}

/* Firefox scrollbar styling */
.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: #424242 transparent;
}

@font-face {
	font-family: 'CascadiaCode';
	font-style: normal;
	font-weight: normal;
	src:
		local('CascadiaCode'),
		url('/font/CascadiaCode.woff2') format('woff2');
}

:root {
	font-family: 'CascadiaCode', serif;
}

body {
    overflow: hidden;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background-color: var(--white-color-main-bg);
	color: black;
}

.dark body {
	background-color: var(--dark-color-main-bg);
	color: #ccc;
}

footer {
	margin-top: auto;
}
